@import '../styles/_variables-and-helpers';

.ChatList {
  &__heading {
    font-size: 1.2em;
  }

  &__items {
    @include list-reset;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 .5em;
    }
  }

  &__link {
    color: $color-grey;

    &--current {
      color: $color-white;
      font-weight: bold;
    }
  }
}