@import '../styles/_variables-and-helpers';

$message-form-input-height: 2.5em;

.MessageForm {
  display: flex;

  &__input {
    flex: 1 0 auto;
    min-height: $message-form-input-height;
    height: $message-form-input-height;
    max-height: $message-form-input-height * 3;
    resize: none;

    font-size: 1em;
  }

  &__button {
    flex: 0 0 auto;
    align-self: flex-end;
    margin: 0 0 0 $spacing;
    height: 3.4em;
    padding: .4em 1em;
  }
}