<div class="Message">
  <div class="Message__icon">
    <img *ngIf="user.img" src="{{ user.img }}" [attr.alt]="user.displayName" class="Message__avatar">
    <div *ngIf="!user.img" class="Message__initials" [ngStyle]="{ 'background-color': '#' + user.colour }">{{ user.initials }}</div>
  </div>
  <div class="Message__main">
    <header class="Message__header">
      <strong>{{ user.displayName }}</strong>&nbsp;<small class="Message__time">{{ message.timestamp | date: 'HH:mm' }}</small>
      <button class="Message__button" (click)="onEdit(message)" *ngIf="contentEditable"><fa-icon [icon]="['far', 'edit']"></fa-icon></button>
    </header>
    
    <div *ngIf="!contentEditable || (contentEditable && !isEditing)" class="Message__body" [innerHTML]="message.text | messageToHtml"></div>

    <div *ngIf="contentEditable && isEditing" class="Message__editmode">
      <textarea
        #userInput
        [(ngModel)]="message.text"
        (keyup)="handleKeyup($event)"

      ></textarea>
      <div class="Message__editbuttons">
        <button class="Message__editbutton" (click)="onCancel()">Cancel</button>
        <button class="Message__editbutton" (click)="onUpdate(message.id)">Save</button>
      </div>
    </div>
  </div>
</div>