@import '../styles/_variables-and-helpers';

:host {
  display: flex;
  height: 100%;
  padding: $spacing;
}

.MessageList {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;


  &__header {
    margin: 0;
    border-bottom: 1px solid $color-borders;
  }

  &__title {
    font-size: 1.5em;
    margin: 0 0 $spacing / 2;
  }

  &__messages {
    flex: 1 1 auto;
    padding: $spacing 0;
    overflow: auto;
  }

  &__message {
    display: block;
    
    &:not(:last-child) {
      margin: 0 0 $spacing;
    }
  }

  &__form {
    flex: 0 0 auto;
    margin: 0;
    justify-self: flex-end;
  }
}